/*setting body defaults */
body {

    /*default site spacing */
    margin: 0;
    padding: 0;
}

/*page container for border across entire page */
.page_container {
    padding: 2px;
    padding-top: 10px;
    padding-right: 15px;

    border: 3px solid gold;

}

/*Main Header */
.header1 {
    display: flex;

    width: 98vw;
    height: 10vh;

    outline-style: solid;
    outline-color: gold;


    /*site spacing */
    margin-left: .7vw;

    justify-content: center;
    align-items: center;

    font-size: 1.8em;
}

/*Subheader */
.header2 {
    display: flex;

    width: 98vw;
    height: 10vh;

    outline-style: solid;
    outline-color: gold;

    /*site spacing */
    margin-left: .7vw;
    margin-top: 2vw;

    justify-content: center;
    align-items: center;

    font-size: 1.8em;
}


/*image stylings */
.img_container {
    display: flex;

    height: 60vh;
    width: 100vw;

    justify-content: center;
    align-items: center;
}

.img1_container {
    display: block;

    width: 28vw;
    height: 60vh;
}

.img1 {
    display: flex;

    height: 45vh;
    margin-top: 0px;
    margin-left: 3.5vw;

    /*default hidden */
    visibility: hidden;
}

.hide_img1 {
    display: flex;
    width: 20vw;
    height: 5vh;

    /* Center horizontally and add some top margin */
    margin: 2vh auto;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;

    color: white;
    background-color: rgb(29, 188, 240);

    visibility: hidden;
}

.img2_container {
    display: block;

    width: 28vw;
    height: 60vh;

    margin-left: 5vw;
    margin-right: 5vw;
}

.img2 {
    display: flex;

    height: 45vh;
    margin-top: 26px;
    margin-left: 3.5vw;

    /*default hidden */
    visibility: hidden;
}

.hide_img2 {
    display: flex;
    width: 20vw;
    height: 5vh;

    /* Center horizontally and add some top margin */
    margin: 2vh auto;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;

    color: white;
    background-color: rgb(29, 188, 240);

    visibility: hidden;
}

.img3_container {
    display: block;

    width: 28vw;
    height: 60vh;
}

.img3 {
    display: flex;

    height: 45vh;
    margin-top: 26px;
    margin-left: 3.5vw;

    /*default hidden */
    visibility: hidden;
}

.hide_img3 {
    display: flex;

    width: 20vw;
    height: 5vh;

    /* Center horizontally and add some top margin */
    margin: 2vh auto;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;

    color: white;
    background-color: rgb(29, 188, 240);

    visibility: hidden;
}

/*button stylings */
.buttonA {
    display: flex;

    width: 15vw;
    height: 8vh;
    justify-content: center;
    align-items: center;

    font-size: 2em;

    border: none;
    outline-style: solid;
    outline-color: gold;
    background-color: white;
}

.buttonB {
    display: flex;

    width: 15vw;
    height: 8vh;

    margin-left: 18vw;
    margin-right: 18vw;
    justify-content: center;
    align-items: center;

    font-size: 2em;

    border: none;
    outline-style: solid;
    outline-color: gold;
    background-color: white;
}

.buttonC {
    display: flex;

    width: 15vw;
    height: 8vh;
    justify-content: center;
    align-items: center;

    font-size: 2em;

    border: none;
    outline-style: solid;
    outline-color: gold;
    background-color: white;
}

.button_containter {
    display: flex;

    width: 100vw;
    height: 10vh;

    justify-content: center;
    align-items: center;
}