/*resets the browsers styling and choose alt box model option */

.layout {
    width: 1366px;
    height: 768px;

    display: grid;
    grid:
        "header" auto "main" 1fr "footer" auto / 1fr;
    gap: 8px;

}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;


}


body {
    font-family: cursive;
    background-image: url("../img/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: center;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

table,
th,
td {
    border: 1px solid white;

}

/*style the layout of the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(138, 126, 137);
    border-radius: 10px;
    color: #ffffff;
    margin-bottom: 280px;
    m
}

.nav-links a {
    color: #d4cdbf
}

/* styling of the logo */
.logo {
    font-size: 32px;
}

/*styling the menu */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

/*sudo class lists */
.menu li:hover {
    background-color: #bfbcbe;
    border-radius: 5px;
    /*transition for hover of menu*/
    transition: 0.3s, ease-in;
}

.menu li {
    padding: 10px 40px;
}

/*hiding checkbox */
input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/*responsive design using CSS queries */
@media (max-width: 786px) {
    .menu {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px;

    }


    .menu li:hover {
        display: inline-block;
        background-color: blanchedalmond;
        transition: 0.3s, ease;

    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

}

/* styling of footer and main content based off hero section design template */
.page_footer {
    color: #ffffff;
    font-size: 18px;
    background-color: rgba(144, 144, 150, 0.749);

    border-radius: 10px;

}

.contactinfo {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

/* intro paragraph spacing */
.intro {
    text-align: justify;

    padding-bottom: 10px;
}