/*styling of all h2 headers */
h2 {
    text-align: center;
    color: #ffffff;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}

/*CSS for section one */
.titlePage {

    height: 100vh;
    width: 100vw;

    background-image: url("../img/irelandHome.png");
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.section1heading {
    text-align: center;
    margin-top: 20%;
    color: #008000;
    font-size: 6em;
    font-family: Arial, Helvetica, sans-serif;
}

/*CSS layout for section 2 */
.section2 {
    height: 70vh;
    width: 100vw;


    /*Two column CSS layout */
    display: grid;
    grid:
        "section2heading section2content" 1fr / 1fr 1fr;
    gap: 8px;


    background-image: url("../img/lighthouse.png");
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.section2heading {
    grid-area: section2heading;
    text-align: left;
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 100px;
    color: #008000;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

.section2content {
    grid-area: section2content;
    margin-top: 10px;
    padding-right: 100px;
    margin-bottom: 10px;
    text-align: left;
    color: #047913;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* Section 3 styling */
.section3 {
    height: 100vh;
    width: 100vw;

    background-image: url("../img/flowers.png");
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.section3heading {
    text-align: center;
    margin-top: 10px;
    color: #008000;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

/* setting the grid of the three pictures setting */
.sect3grid {
    display: grid;
    grid:
        "sect3col1 sect3col2 sect3col3" 0.7fr / 1fr 1fr 1fr;
    gap: 0px 20px;
}

.sect3col1 {
    width: 300px;
    height: 400px;

    background-image: url("../img/test1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-position: center center;

    /*css box plot margin settings */
    grid-area: sect3col1;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.sect3col2 {
    width: 300px;
    height: 400px;

    background-image: url("../img/aurora.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


    /*css box plot margin settings */
    grid-area: sect3col2;
    margin-left: 75px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sect3col3 {

    width: 300px;
    height: 400px;

    grid-area: sect3col3;
    background-image: url("../img/city.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    /*css box plot margin settings */
    margin-right: 150px;
    margin-top: 10px;
    margin-bottom: 10x;
}

.sect3content {
    margin-top: 280px;
    padding-left: 15px;
    text-align: left;
    color: #ffffff;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section3button {
    text-align: center;
    margin-top: 100px;
    padding-right: 20px;
}


/*CSS layout for section 4 */
.section4 {
    height: 100vh;
    width: 100vw;


    /*Two column CSS layout */
    display: grid;
    grid:
        "section2heading section2content" 1fr / 1fr 1fr;
    gap: 8px;


    background-image: url("../img/pub.png");
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.section4heading {
    grid-area: section2heading;
    text-align: left;
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 100px;
    color: #ffffff;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

.section4content {
    grid-area: section2content;
    margin-top: 10px;
    padding-right: 100px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: left;
    color: #c7c7c7;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background-color: #52525284;
    border: 20px;
    border-radius: 5px;
}


/* Section 5 styling */
.section5 {
    height: 50vh;
    width: 100vw;

    background-image: url("../img/castle2.png");
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.section5heading {
    text-align: center;
    margin-top: 10px;
    color: #008000;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

/* setting the grid of the four pictures setting */
.sect5grid {
    display: grid;
    grid:
        "sect5col1 sect5col2 sect5col3 sect5col4" 0.7fr / 1fr 1fr 1fr 1fr;
    gap: 0px 20px;
}

.sect5col1 {
    width: 200px;
    height: 200px;
    background-color: #000000;
    /* Black color for the circle */
    border-radius: 50%;
    /* Makes the background a circle */
    display: flex;
    justify-content: center;
    align-items: center;

    /*css box plot margin settings */
    grid-area: sect5col1;
    margin-top: 100px;
    margin-left: 50px;


}

.sect5col2 {
    width: 200px;
    height: 200px;
    background-color: #000000;
    /* Black color for the circle */
    border-radius: 50%;
    /* Makes the background a circle */
    display: flex;
    justify-content: center;
    align-items: center;


    /*css box plot margin settings */
    grid-area: sect5col2;
    margin-top: 100px;
    margin-left: 50px;

}

.sect5col3 {

    width: 200px;
    height: 200px;
    background-color: #000000;
    /* Black color for the circle */
    border-radius: 50%;
    /* Makes the background a circle */
    display: flex;
    justify-content: center;
    align-items: center;

    /*css box plot margin settings */
    margin-top: 100px;
    margin-left: 50px;

}

.sect5col4 {

    width: 200px;
    height: 200px;
    background-color: #000000;
    /* Black color for the circle */
    border-radius: 50%;
    /* Makes the background a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 60px;


}

.sect5content {

    text-align: center;
    color: #ab9e0a;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.buttonContainer {

    background-color: #00800087;
    color: #ffffff;
    padding: 10px 20px;
    border: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

/*displays all arrow pngs */
.arrow-container {
    text-align: center;
    color: #ffffff;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

/*size of the arrow images */
.arrow-image {
    width: 60px;
    height: 60px;
}